@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">I want to impress my collegues</h1>
    <button id="btnNextFact">Next</button>
</div>

<script> var exports = {}; </script>
<script src="js/app.js"/>